{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "plugin:vue/vue3-essential"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ]
  }
}
